.navigation-bar {
  height: 40px;
  position: fixed;
  z-index: 10000;
  width: 100%;
  color: white;
  line-height: 100%;
  div {
    font-size: 36px;
    padding-left: 30px;
    width: 100%;
    text-align: left;
    line-height: 1;
    font-weight: bold;
  }
  .navigation-bar-icon {
    float: left;
    width: 40px;
    height: 40px;
    margin-left: 30px;
    color: #fff;
    transform: rotate(180deg);
  }
}
